.container{
    background-color: #fff;
    padding:2em ;
    margin: 0 auto;
    width:70%
    
    }
    .hr{
    margin-top: 2em;
    }
    .card{
    border: none;
    }
    .btn
    {
        margin: 0 0.5em;
    }
    .card-body
    {   
        margin: 2em 0;
        padding: 2em 0;
        border-top: solid RGBA(0,0,0,0.5) 1px ;
        border-bottom: solid RGBA(0,0,0,0.4) 1px ;
    
    }